<template>
  <div class="createComment">
    <h1>Create Comment</h1>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Author:" label-for="input-1">
        <b-form-input
                id="input-1"
                v-model="author"
                required
                placeholder="Enter author"
                :state="authState"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-2" label="Content:" label-for="input-2">
        <b-form-input
                id="input-2"
                v-model="content"
                required
                placeholder="Enter content"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Save</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
  export default {
    name: 'CreateComment',
    data() {
      return {
        author: '',
        content: '',
        authState: null,
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        this.submit();
      },
      submit() {
        if(this.validate()) {
          this.$saveComment(
                  this.$route.params.id,
                  {author: this.author, content: this.content}
          );
          this.reset();
        }
      },
      onReset(e) {
        e.preventDefault();
        this.reset();
      },
      reset() {
        this.author = '';
        this.content = '';
      },
      validate() {
        const arrAuthor = this.author.split(' ');
        if(arrAuthor.length !== 2) {
          this.authState = false;
          return false
        }

        if(!this.isUpperCase(arrAuthor[0]) && !this.isUpperCase(arrAuthor[1])) {
          this.authState = false;
          return false
        }

        if(!this.content) return false;

        this.authState = null;
        return true;
      },
      isUpperCase(str) {
        return str.substr(0, 1).toUpperCase() === str.substr(0, 1);
      },
    }
  }
</script>
