<template>
  <div class="createNote">
    <NoteForm note-id="-1" />
  </div>
</template>

<script>
  import NoteForm from "../components/NoteForm.vue";

  export default {
    name: 'CreateNote',
    components: {NoteForm},
  }
</script>
