<template>
  <div class="editNote">
    <NoteForm :note-id="noteId" />
  </div>
</template>

<script>
  import NoteForm from "../components/NoteForm.vue";

  export default {
    name: 'EditNote',
    components: {NoteForm},
    computed: {
      noteId() {
        return this.$route.params.id
      }
    }
  }
</script>
