<template>
  <div class="home">
    <b-button class="m-3" v-b-tooltip.hover title="Add note" variant="primary" @click="linkToAdd">+</b-button>
    <NoteList />
  </div>
</template>

<script>
import NoteList from '@/components/NoteList.vue'

export default {
  name: 'Home',
  components: {
    NoteList
  },
  methods: {
    linkToAdd() {
      this.$router.push('CreateNote');
    }
  }
}
</script>
