<template>
  <div class="note">
    <h2>{{note.name}}</h2>
    <p>{{note.content}}</p>
    <b-card v-for="comment in note.comments" :key="comment.id">
      <h4>author: {{comment.author}}</h4>
      <h4>date: {{comment.date}}</h4>
      <h4>comment: {{comment.content}}</h4>
    </b-card>
  </div>
</template>

<script>

  export default {
    name: 'Note',
    data() {
      return {
        note: {}
      }
    },
    computed: {
      noteId() {
        return this.$route.params.id
      }
    },
    created() {
      this.note = this.$getNote(this.noteId);
    },
  }
</script>
