<template>
  <div class="about">
    <h1>Settings</h1>
    <b-form-group label="Storage">
      <b-form-radio v-model="selected" name="settings-radios" value="local">LocalStorage</b-form-radio>
      <b-form-radio v-model="selected" name="settings-radios" value="firebase">Firebase</b-form-radio>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'Settings',
  data() {
    return {
      defaultStore: 'local',
      selected: '',
    }
  },
  created() {
    const storeType = this.$getStore();
    this.selected = storeType ? storeType : this.defaultStore;
  },
  watch: {
    selected(val) {
      this.$setStore(val);
    }
  },
}
</script>
