<template>
  <div class="noteForm">
    <h1 v-if="noteId === '-1'">Create</h1>
    <h1 v-else>Edit</h1>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-1" label="Name:" label-for="input-1">
        <b-form-input
                id="input-1"
                v-model="name"
                required
                placeholder="Enter title"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-2" label="Content:" label-for="input-2">
        <b-form-input
                id="input-2"
                v-model="content"
                required
                placeholder="Enter content"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Save</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
  export default {
    name: 'NoteForm',
    props: ['noteId'],
    data() {
      return {
        name: '',
        content: '',
      }
    },
    created() {
      if(this.noteId !== '-1') {
        const { name, content } = this.$getNote(this.noteId);
        this.name = name;
        this.content = content;
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        this.submit();
      },
      submit() {
        if(this.validate()) {
          if(this.noteId === '-1') {
            this.$createNote({name: this.name, content: this.content});
            this.reset();
          } else {
            this.$editNote(this.noteId, {name: this.name, content: this.content});
          }
        }
      },
      onReset(e) {
        e.preventDefault();
        this.reset();
      },
      reset() {
        this.name = '';
        this.content = '';
      },
      validate() {
        return this.name && this.content;
      },
    }
  }
</script>
