<template>
  <div class="list">
    <b-table-simple hover v-if="noteList.length !== 0">
      <b-thead>
        <b-tr>
          <b-th>Add comments</b-th>
          <b-th>Name</b-th>
          <b-th>Content</b-th>
          <b-th></b-th>
          <b-th></b-th>
        </b-tr>
      </b-thead>
      <b-tbody>
        <b-tr v-for="el in noteList" :key="el.id"
              @click="() => info(el.id)"
        >
          <b-th>
            <b-button pill variant="primary"
                      @click.stop="() => linkToComment(el.id)"
                      v-b-tooltip.hover title="Add comment"
            >
              <b-icon-card-text></b-icon-card-text>
            </b-button>
          </b-th>
          <b-th>{{el.name}}</b-th>
          <b-td>{{el.content}}</b-td>
          <b-td>
            <b-button pill variant="primary"
                      @click.stop="() => edit(el.id)"
                      v-b-tooltip.hover title="Edit note"
            >
              <b-icon-pencil></b-icon-pencil>
            </b-button>
          </b-td>
          <b-td>
            <b-button pill variant="primary"
                      @click.stop="() => del(el.id)"
                      v-b-tooltip.hover title="Delete note"
            >
              <b-icon-trash></b-icon-trash>
            </b-button>
          </b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
    <h3 v-else>No data</h3>
  </div>
</template>

<script>
export default {
  name: 'NoteList',
  data() {
    return {
      noteList: []
    }
  },
  created() {
    this.getNotes();
  },
  methods: {
    linkToComment(id) {
      this.$router.push({ name: 'CreateComment', params: { id } });
    },
    edit(id) {
      this.$router.push({ name: 'EditNote', params: { id } });
    },
    info(id) {
      this.$router.push({ name: 'Note', params: { id } });
    },
    del(id) {
      this.$delStore(id);
      this.getNotes();
    },
    getNotes() {
      this.noteList = this.$getNotes('notes') || [];
    }
  }
}
</script>
