<template>
  <div id="app">
    <b-container>
      <div id="nav">
        <b-link to="/">Home</b-link> |
        <b-link to="/settings">Settings</b-link>
      </div>
      <router-view/>
    </b-container>
  </div>
</template>

